<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Workouts</title>
</head>

{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >

<body>

    <h1>Gym Workouts Summary</h1>
    <p>Period: {{ start_date }}-{{ end_date }}</p>

    {% if exercises %}
    <h2>Period summary</h2>

    <table>
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Number of Sets</th>
                <th>Total Volume</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.n_sets}}</td>
                <td>{{ exercise.total_volume }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Total Workouts: {{ interval_statistics.n_workouts }}</p>
    <p>Total Unique Exercises: {{ interval_statistics.n_unique_exercises }}</p>
    <p>Total Sets: {{ interval_statistics.n_sets_of_exercises }}</p>
    <p>Total Reps: {{ interval_statistics.n_repetitions }}</p>
    <p>Total Volume: {{ interval_statistics.total_volume }} </p>

    {% else %}
    <p>No workouts recorded in the selected period.</p>
    {% endif %}

</body>

</html>